<h2>ユーザー一覧</h2>

<table>
  <tr>
    <th>ユーザー名</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
          <%= user.uid %>
          <%= link_to '削除', "/users/#{user.id}", data: { turbo_method: :delete } %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to '新規登録してね～', new_user_path %></p>